# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GAME3033_Zombies.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nabil\Documents\School Code\Year 3\GAME3033-GameEngine4\GAME3033_Zombies\.idea\.idea.GAME3033_Zombies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
